<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新版本</title>
</head>
<body>
    <form action="" enctype='multipart/form-data' method='POST'>
        <table>
            <tr>
                <td>客户名称</td><td><input type="text" name="customer" value="partner"></td>
            </tr>
            <tr>
                <td>芯片方案</td><td><input type="text" name="chip_num" value="63178"></td>
            </tr>
            <tr>
                <td>版本名称</td><td><input type="text" name="ver_name" value="138s"></td>
            </tr>
            <tr>
                <td>GIT节点</td><td><input type="text" name="git_node"></td>
            </tr>
            <tr>
                <td>Commit 时间</td><td><input type="text" name="commit_time" value="202003211324"></td>
            </tr>
            <tr>
                <td><input type="file" name="file"></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>