<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        td {    
            text-align: center; 
            vertical-align: middle;
            border:solid #999;border-width:0 1px 1px 0;padding:2px;
            }
        /* tr{border:solid #999;border-width:0 1px 1px 0;padding:2px;} */
    </style>
    <style type="text/css">
        .topcorner{
          position:absolute;
          top:0;
          right:0;
         }
       </style>
    <title>版本文件</title>
</head>
<body>
    <!--通过form的方式请求后台-->
    <form action="/add" method='GET'>
        <input type="submit" value="添加">
    </form>
    <a href="/twview"  class="topcorner" >切换为TW版本</a>
    <hr>
    <form action="/query" method='POST'>
        <center>
        <table>
            <tr>
                <td>客户</td><td><input type="text" name="customer"></td>
                <td>芯片方案</td><td><input type="text" name="chip_num"></td>
                <td>版本名称</td><td><input type="text" name="ver_name"></td>
            </tr>
        </table>
        </center>
        <center><input type="submit" value="查询"></center>
    </form>
    <hr>
    <form action="/querygit" method='POST'>
        <center>
        <table>
            <tr>
                <td>GIT节点</td><td><input type="text" name="git_node"></td>
            </tr>
        </table>
        </center>
        <center><input type="submit" value="查询"></center>
    </form>
    <hr>
    <center>
    <table>
        <tr><td>ID</td><td>客户</td><td>芯片方案</td><td>版本名称</td><td>GIT节点</td><td>GIT路径</td><td>Commit 时间</td><td>Comment</td><td>下载</td><td>删除</td></tr>
        {% for version in versions %} <!--这种格式用来处理模板引擎的逻辑代码-->
        <tr>
            <td>{{version.ver_id}}</td> <!--这种格式用来处理模板引擎的数据-->
            <td>{{version.customer}}</td>
            <td>{{version.chip_num}}</td>
            <td>{{version.ver_name}}</td>
            <td>{{version.git_node}}</td>
            <td>{{version.git_url}}</td>
            <td>{{version.commit_time}}</td>
            <td>{{version.comment}}</td>
            <td><a href={{version.file_path}}>下载</a></td>
            <td>
                <form action="/delete" method="POST">
                    <input type="hidden" name="id" value={{version.ver_id}}>
                    <input type="submit" value="删除">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </center>
</body>
</html>