<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新版本</title>
</head>
<body>
    <form action="" enctype='multipart/form-data' method='POST'>
        <table>
            <tr>
                <td>客户名称</td><td><input type="text" name="customer" value="partner"></td>
            </tr>
            <tr>
                <td>芯片方案</td><td><input type="text" name="chip_num" value="63178"></td>
            </tr>
            <tr>
                <td>版本名称</td><td><input type="text" name="ver_name" value="138s"></td>
            </tr>
            <tr>
                <td>发布时间</td><td><input type="text" name="release_date" value="20200321"></td>
            </tr>
            <tr>
                <td>Comment</td><td><input type="text" name="comment"></td>
            </tr>
            <tr>
                <td><input type="file" name="file"></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
    <p>
        备注:<br>
         客户名称全部小写<br>
        芯片方案为5位例如68178，68360 <br>
        版本名称为页面显示的软件版本,例如PT_178.7003<br>
        发布时间年月日<br>
        Comment不超过64字节<br>
        文件名不要超过240字节<br>
     </p>
</body>
</html>